* {
  box-sizing: border-box;
}


.nav-wrapper {
  margin-bottom: 1rem;
}

.top-banner {
  border-bottom: #1565c0 solid 3px;
}

.main-header {
  padding: 0.5% 2%;
  margin: 0 auto 1rem 1rem;
  font-family: 'Oswald', sans-serif;
}

.my-container {
  width: 100%;
  /* offsetting sidenav fixed width */
  padding-left: 200px;
}


#right-col1 {
  font-weight: bold;
}

.company-logo {
  height: 3vw;
  width: 3vw;
}

.company-info {
  font-weight: 700;
  font-size: larger;
}

.card .card-content {
  padding: 0.6rem 1rem;
  margin-top: 0.1rem;
}

.article-link a {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #0d47a1;
}

.article-image img {
  max-width: 80%;
}

.white p {
  margin: 0;
  padding: 0;
}

.news-feed h4 {
  font-size: 2.1rem;
  line-height: 1.5;
  margin: 0.6rem 0rem;
}

#nav-mobile {
  cursor: pointer;
  width: 200px;
}

#search {
  width: 65%;
  border: none;
  padding: 0 2%;
}

.search-wrapper {
  border: 1px solid #1565c0;
  padding: 0;
  background-color: white;
  height: 50px;
  width: 95%;
  margin: 15px 5px 5px 5px;
}

.search-results {
  width: 75%;
  background-color: white;
  margin: 20px;
}

.search-results li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  color: #263238;
}

.magnify {
  background-color: #1565c0;
  color: white;
  padding: 12px;
  margin: 0 0 0 6px;
}

.stock-news-title {
  margin: 0.1rem;
  padding: 0.1rem;
}

footer {
  padding-left: 200px;
}


/* offsetting sidenav fixed width */
@media only screen and (max-width: 992px) {
  .my-container {
    padding-left: 0;
  }

  footer {
    padding-left: 0;
  }
}